.main-box {
  background-color: white;
  max-width: 400px;
  border-radius: 30px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.myAlert {
  margin-left: 4px;
  margin-right: 4px;
  /* width: 100% !important; */
  min-width: 230px !important;
  margin-top: 100px;
  text-align: center;
}
