body {
  font-family: Georgia, serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(204, 204, 204) !important;
}
@media screen and (max-width: 420px) {
  body {
    background-color: white !important;
  }
}
